@media only screen and (max-width: 768px) {
    #presentation-container {
        padding-top: 15% !important;
        padding-right: 5% !important;
        padding-left: 5% !important;
    }

    span {
        font-size: 2.4rem !important;
    }

        #title {
        font-size: 2.8rem !important;
    }
    
        #typeit-text {
        font-size: 1.3rem !important;
    }

    span.ti-cursor {
        font-size: 1.3rem !important;
    }

    #second-text {
        font-size: 2.4rem !important;
    }

    #presentation-buttons {
        display: flex;
        padding-top: 25px;
    }

    #presentation-buttons {
        justify-content: center;
        margin-top: 10px;
    }

    #cv-button {
        font-size: 0.8rem !important;
    }

    #github-text {
        font-size: 0.8rem !important;
    }
}

#presentation-container {
    padding-top: 120px;
    text-align: center;
}

#title {
    margin-bottom: 0px !important;
    font-size: 4rem;
    font-family: "Noto Sans", sans-serif !important;
    font-weight: 400 !important;
    color: var(--mui-palette-primaryText-main);
}

span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--mui-palette-importantText-main);
}

#typeit-text {
    opacity: 80% !important;
    font-size: 27.5px;
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: 500 !important;
    color: var(--mui-palette-primaryText-main) !important;
}

span.ti-cursor {
    opacity: 80%;
    font-weight: 500 !important;
    color: var(--mui-palette-primaryText-main) !important;
}

#second-text {
    margin-top: 80px;
    margin-bottom: 10px !important;
    font-size: 3rem;
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: 500 !important;
    color: var(--mui-palette-primaryText-main);
}

#presentation-buttons {
    margin-top: 35x !important;
}

#cv-button {
    margin-right: 35px;
    background: var(--mui-palette-importantText-main);
    border-color: var(--mui-palette-importantText-main);
    font-weight: 700;
    color: var(--mui-palette-fill-main);
}

#cv-button:hover {
    background: var(--mui-palette-importantText-dark);
    border-color: var(--mui-palette-importantText-dark);
}

#github-presentation-container:hover p {
    color: var(--mui-palette-importantText-dark);
}

#github-presentation-container:hover :last-child {
    color: var(--mui-palette-importantText-dark);
}

#github-icon {
    margin-right: 10px;
    font-size: 40px;
    color: var(--mui-palette-importantText-main);
}

#github-text {
    opacity: 85%;
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--mui-palette-importantText-main);
    text-transform: uppercase;
    letter-spacing: 0.02857em;
}
